.page-quotation {

    .reciever {
        @include make-col-ready;
        @include make-col(6);

        form {
            fieldset {
                margin-bottom: 1rem;
            }
        }

        .company {
            display: flex;
            flex-direction: column;
        }

        .name,
        .contact,
        .address {
            display: flex;
            flex-direction: row;

            label {
                margin: 1rem 0;
            }
        }
    }

    .add__products {
        @include make-col-ready;
        @include make-col(6);
    }
}
